<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="search-container">
        <img src="{{imageLink}}" alt="book cover" class="img-responsive img-thumbnail">
        <div class="info-container">
            <h4>{{title}}</h4>
            {{#each authors}}
                <h5>{{this}}</h5>
            {{/each}}
            <div>
                {{description}}
            </div>
            <a href="{{infoLink}}">see on google books</a>
        </div>
    </div>
</div>







