<div id="description-div">
    <h1>{{title}}</h1>
    {{#each authors}}
        <h5>{{this}}</h5>
    {{/each}}
    <h5>{{author}}</h5>
    <h5>{{description}}</h5>
    <h5>{{infoLink}}</h5>
    <button id="description-close">CLOSE</button>
</div>




